{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", { "targets": { "node": "8.11.1" } }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "module:babel-root-slash-import"
  ]
}
